build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/.cmake/
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/.generated/
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/.qt/
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/.qtc/
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/.qtc_clangd/
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/.rcc/
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/android-app-process/
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/android-build/
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/CMakeFiles/
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/meta_types/
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/qmltypes/
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/SpeachToText/
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/SpeachToText_autogen/
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/Testing/
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/.ninja_deps
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/.ninja_log
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/android-SpeachToText-deployment-settings.json
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/build.ninja
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/cmake_install.cmake
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/CMakeCache.txt
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/CMakeCache.txt.prev
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/libqmicroz.so
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/libSpeachToText_arm64-v8a.so
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/libvosk.so
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/qtcsettings.cmake
build/Android_Qt_6_6_1_Clang_arm64_v8a-Debug/speachtotext_qmltyperegistrations.cpp

build/SpeachToText-Desktop_Qt_6_6_1_MSVC2019_64bit-Debug/
build/SpeachToText_Qt-Qml-Desktop_Qt_6_6_1_MSVC2019_64bit-Debug/

desktop.ini
CMakeLists.txt.user
